@model Product
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form asp-controller="Home" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Ürün Adı</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label">Fiyat</label>
        <input asp-for="Price" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Image" class="form-label">Görsel</label>
        <input asp-for="Image" class="form-control" />
    </div>
    <div class="mb-3">
        <label for="CategoryId" class="form-label">Kategori</label>
        <select name="CategoryId" id="CategoryId" class="form-select">
            <option value="0">Hepsi</option>

            @foreach (var item in ViewBag.Categories)
            {
                <option value="@item.CategoryId">@item.CategoryName</option>
            }
            
        </select>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" name="IsActive" itemid="IsActive" class="form-check-input"/>
        <label for="IsActive" class="form-check-label">Is Active</label>
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>

